.scroll-field {
  width: 4px;
  bottom: 8px;
  visibility: hidden;
  position: absolute;
  top: 8px;
  right: 4px;
  border-radius: 2px;
  background-color: #f1f1f1;
  &.show {
    visibility: visible;
  }
}
.scroll-field .scroll-btn {
  width: 4px;
  height: 10px;
  background: #353535;
  opacity: 0.3;
  border-radius: 2px;
  position: relative;
}
.scroll-field .scroll-btn:hover{
  opacity: 0.5;
  cursor: pointer;
}
