@import "lib.styl"
@import "datepicker.styl"
@import "timepicker.styl"
.hs-datetimerpicker {
  display inline-block
  vertical-align top
}
.hs-datepicker {
  display: inline-block;
  margin-right: 4px;
  vertical-align: top;
}
.hs-timepicker {
  display:inline-block;
  vertical-align:top;
}
